/PCBs/PCB_Luciernagas/__Previews/
/PCBs/PCB_Luciernagas/History/
/PCBs/PCB_Luciernagas/Project Logs for PCB_Luciernagas/


/PCBs/PCB_Libelula/__Previews/
/PCBs/PCB_Libelula/History/
/PCBs/PCB_Libelula/Project Logs for PCB_Libelula/

/.vscode/
